*
  margin 0
  padding 0


a
  text-decoration none


.sleft
  float left
  border-right 1px solid #BDDAF5
  width 182px
.sright
  float left


.finance-wrapper
  height 102px
  border 1px solid #CAEOF3
  border-top 3px solid #9EC9EE
  overflow hidden