  @font-face{font-family:'icomoon';
    src:url("./fonts/icomoon.eot?yisc3l");
    src:url("./fonts/icomoon.eot?yisc3l#iefix") format("embedded-opentype"),
    url("./fonts/icomoon.woff2?yisc3l") format("woff2"),
    url("./fonts/icomoon.ttf?yisc3l") format("truetype"),
    url("./fonts/icomoon.woff?yisc3l") format("woff"),
    url("./fonts/icomoon.svg?yisc3l#icomoon") format("svg");}

*
  margin 0
  padding 0


a
  text-decoration none


.sleft
  float left
  border-right 1px solid #BDDAF5
  width 182px
  margin 6px 0 5px 12px 
.sright
  float left
  margin 6px 0 5px 12px 


.finance-wrapper
  height 102px
  width 388px
  border 1px solid #CAE0F3
  border-top 3px solid #9Ec9ee
  overflow hidden


.st-item .detail span
  color #DF4D42
  

.float
  margin-right 5px
  margin-left 5px

.sright .green span
  color green !important

.sright
  color pink
.price
  font-size: 0




.icon-num-1:before
  font-family 'icomoon' !important
  content "\31"
  font-size: 15px
.icon-num-2:before
    font-family 'icomoon' !important
    content "\32"
    font-size: 15px
.icon-num-3:before
    font-family 'icomoon' !important
    content "\33"
    font-size: 15px
.icon-num-4:before
    font-family 'icomoon' !important
    content "\34"
    font-size: 15px
.icon-num-5:before
    font-family 'icomoon' !important
    content "\35"
    font-size: 15px
.icon-num-6:before
    font-family 'icomoon' !important
    content "\36"
    font-size: 15px
.icon-num-7:before
    font-family 'icomoon' !important
    content "\37"
    font-size: 15px

.icon-num-8:before
    font-family 'icomoon' !important
    content "\38"
    font-size: 15px

.icon-num-9:before
    font-family 'icomoon' !important
    content "\39"
    font-size: 15px


.icon-num-d:before
  font-family 'icomoon' !important
  content "\2e"
  font-size: 15px